@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, night dark --prefersdark, night;
}
html {
  scroll-behavior: smooth;
}

@theme {
  --color-font-dark: #0c2b4e;
  --color-myPrimary: #0c2b4e;
  --color-mySecondary: #1a3d64;
  --color-customBase: #1c2836;
  --color-customWhite: #f4f4f4;
  --font-display: myFont, sans-serif;
  --animate-slideIn: fadeSlideIn 300ms ease-out forwards;
  --animate-slideInFromBottom: fadeSlideInFromBottom 300ms ease-out forwards;
  @keyframes fadeSlideIn {
    0% {
      opacity: 0; /* Start completely transparent */
      transform: translateX(
        -50px
      ); /* Start slightly below its final position */
    }
    100% {
      opacity: 1; /* End fully opaque */
      transform: translateX(0); /* End at its original vertical position */
    }
  }
  @keyframes fadeSlideInFromBottom {
    0% {
      opacity: 0; /* Start completely transparent */
      transform: translateY(50px); /* Start slightly below its final position */
    }
    100% {
      opacity: 1; /* End fully opaque */
      transform: translateY(0); /* End at its original vertical position */
    }
  }
  @keyframes fadeSlideIn {
    0% {
      opacity: 0; /* Start completely transparent */
      transform: translateX(
        -30px
      ); /* Start slightly below its final position */
    }
    100% {
      opacity: 1; /* End fully opaque */
      transform: translateX(0); /* End at its original vertical position */
    }
  }
}
.containerShadow {
  box-shadow: 0px -30px 30px 10px var(--color-base-100);
  position: relative;
  z-index: 120;
  background-color: var(--color-base-100);
}
.bg-pattern {
  background-color: #12181f;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #12181f 25px
    ),
    repeating-linear-gradient(#161e2f55, #161e2f);
}
