@import url("https://fonts.googleapis.com/css2?family=Sora:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
.App {
  width: 100vw;
  height: 100vh;
  background: #435166;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
    font-size: 5rem;
    position: fixed;
    color: white;
    top: 0;
    height: 100vh;
    opacity: 0.6;
  }
  .arrow-right-icon {
    right: clamp(-25px, calc(-25px + 1vw), 5px);
  }

  .arrow-left-icon {
    left: -25px;
  }
}
.background-text {
  position: fixed;
  height: 100vh;
  width: 100vw;
  .flutter-text {
    position: fixed;
    top: 0;
    left: 0;
  }
  .react-text {
    position: fixed;
    right: 0;
    bottom: 0;
  }
  .flutter-text,
  .react-text {
    pointer-events: none;
    user-select: none;
    line-height: 1;
    color: #8d8d8d;
    font-size: calc(3.5rem + 10vw);
  }
}
.home-page,
.project,
.contact {
  z-index: 6;
  animation: fadeIn 0.3s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.home-page {
  width: 80%;
  max-width: 900px;
  z-index: 5;
  border-radius: 50px;
  background: #dcdfe4cc;
  padding: 1.8em;
  display: flex;
  flex-direction: column-reverse;
  .self-introduce {
    display: flex;
    flex-direction: column;
    h1 {
      margin-bottom: 0.25em;
      font-size: clamp(1rem, calc(1.1rem + 1vw), 2rem);
      color: darken(#435166, 10);
      font-weight: 700;
    }
    span {
      font-weight: bold;
    }
    p {
      font-weight: 500;
      font-size: clamp(1rem, calc(0.8rem + 1vw), 1rem);
      margin-bottom: 1rem;
      opacity: 0.75;
    }
    .contact-btn {
      font-weight: bold;
      font-size: 1rem;
      border-radius: 10px;
      outline: none;
      border: none;
      margin-top: auto;
      padding: 0;
      overflow: hidden;
      .contact-btn-link {
        width: 100%;
        margin: 0;
        text-decoration: none;
        color: white;
        padding: 0.5em 1em;
        transition: all 0.35s;
      }
    }
  }
  .image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
      width: 100%;
      max-width: 300px;
      min-width: 150px;
      border-radius: 25px;
    }
    h2 {
      color: #8d8d8d;
      opacity: 0.6;
      font-size: 100%;
    }
  }
}
.project {
  background: red;
  width: 400px;
  height: 300px;
}
.contact {
  background: blue;
  width: 400px;
  height: 300px;
}
@media screen and (min-width: 700px) {
  * {
    .home-page {
      flex-direction: row;
    }
    .image-wrapper {
      margin-left: 1.75rem;
    }
  }
}
