@import url("https://fonts.googleapis.com/css2?family=Sora:wght@500;700&display=swap");
$backgroundColor: lighten(#dcdfe4de, 100);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
.App {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #435166;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
    font-size: 5rem;
    position: fixed;
    color: white;
    top: 0;
    height: 100vh;
    opacity: 0.6;
    z-index: 8;
  }
  .loading-card {
    position: absolute;
    z-index: 40;
    overflow: hidden;
    height: 60%;
    width: 80%;
    border-radius: 25px;
    .container {
      width: 100%;
      height: 100%;
    }
  }
  .arrow-right-icon {
    right: -25px;
  }

  .arrow-left-icon {
    left: -25px;
  }
}
.background-text {
  position: fixed;
  height: 100vh;
  width: 100vw;
  .flutter-text {
    position: fixed;
    top: 0;
    left: 0;
  }
  .react-text {
    position: fixed;
    right: 0;
    bottom: 0;
  }
  .flutter-text,
  .react-text {
    pointer-events: none;
    user-select: none;
    line-height: 1;
    color: #8d8d8d;
    font-size: calc(3.5rem + 10vw);
  }
}
.home-page,
.project,
.contact {
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 6;
  animation: fadeIn 0.3s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.home-page {
  width: 80%;
  max-width: 900px;
  z-index: 5;
  border-radius: 25px;
  background: $backgroundColor;
  padding: 1.8em;
  display: flex;
  flex-direction: column-reverse;
  .self-introduce {
    display: flex;
    flex-direction: column;
    .skill-icons {
      margin: auto 0 auto 0;
      .skill-icon {
        margin: 0.25em;
        opacity: 1;
        width: 45px;
        height: 45px;
      }
    }
    h1 {
      margin-bottom: 0.25em;
      font-size: clamp(1rem, calc(1.1rem + 1vw), 2rem);
      color: darken(#435166, 10);
      font-weight: 700;
    }
    span {
      font-weight: bold;
    }
    p {
      font-weight: 500;
      font-size: clamp(1rem, calc(0.8rem + 1vw), 1rem);
      margin-bottom: 1rem;
      opacity: 0.75;
    }
    .contact-btn {
      font-weight: bold;
      font-size: 1rem;
      border-radius: 10px;
      outline: none;
      border: none;
      padding: 0.5em;
      overflow: hidden;
      margin-top: auto;
      .contact-btn-link {
        width: 100%;
        margin: 0;
        text-decoration: none;
        color: white;
        padding: 0.5em 1em;
        transition: all 0.35s;
      }
    }
  }
  .image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    .avatar {
      width: 100%;
      max-width: 300px;
      min-width: 150px;
      border-radius: 25px;
    }
    h2 {
      color: #8d8d8d;
      opacity: 0.6;
      font-size: 100%;
    }
  }
}
.project {
  min-width: 290px;
  border-radius: 25px;
  .title {
    display: flex;
    justify-content: center;
    margin: 0.25em;
    font-size: calc(1.25rem + 1vw);
  }
  position: relative;
  background: $backgroundColor;
  max-width: 80%;
  background: #21395c;
  color: white;
  .swiper-container {
    max-width: 700px;
    .swipe-item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        object-fit: fill;
      }
      h1 {
        line-height: 0.25;
        margin-top: 0.25em;
        padding: 0.5em;
        font-size: calc(0.75rem + 1vw);
      }
    }
  }
}
.contact {
  backdrop-filter: blur(4px);
  background: $backgroundColor;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 80%;
  .contact-text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .linkedin-btn {
      width: 50px;
      img {
        width: 100%;
      }
    }
  }
  .title {
    font-weight: bold;
    color: #21395c;
    margin-bottom: 0.3em;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .form-name {
    margin: 1em 0 0 0;
  }
  .form-textarea {
    margin: 1em 0 0 0;
  }
  button {
    margin-top: 1em;
  }
}
@media screen and (min-width: 700px) {
  * {
    .home-page {
      flex-direction: row;
      justify-content: space-between;
      .self-introduce {
        width: 70%;
        margin-right: 2em;
      }
    }
    .image-wrapper {
      margin-left: 1.75rem;
    }
  }
}
